<launch>
   <node name="Battery_Monitor1" pkg="test_battery_monitor" type="battery_monitor" output="screen"/>   
   <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="5 test_battery_monitor battery_monitor_4a.launch" name="timed_roslaunch1" output="screen" />
   <node name="Battery_Monitor2" pkg="test_battery_monitor" type="battery_monitor" output="screen"/>
   <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="35 test_battery_monitor battery_monitor_4b.launch" name="timed_roslaunch2" output="screen" />
   <node name="Battery_Monitor3" pkg="test_battery_monitor" type="battery_monitor" output="screen"/>
   <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="65 test_battery_monitor battery_monitor_4c.launch" name="timed_roslaunch3" output="screen" />
   <node name="Battery_Monitor4" pkg="test_battery_monitor" type="battery_monitor" output="screen"/>
   <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="95 test_battery_monitor battery_monitor_4d.launch" name="timed_roslaunch4" output="screen" />
</launch>
