<launch>

    <node pkg="dji_sdk" type="dji_sdk_node" launch-prefix="gdb --args" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="acm_name" type="string" value="/dev/ttyACM0"/>
    <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
    <param name="baud_rate" type="int" value="921600"/>
    <param name="app_id" type="int" value="1126500"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="88524b93fc1d5b64abcd735ed3798acb426dca3762bef7b6437bf6e9d42b0481"/>
    <param name="use_broadcast" type="bool" value="false"/>
    </node>
</launch>
